section.portfolio {

  @include media($large-screen) {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  article {

    @include media($large-screen) {
      @include span-columns(12);
      margin-bottom: 40px;
      margin-top: 32px;
    }


    div.screenshot {
      text-align: center;
      @include media($large-screen) {
        @include span-columns(5 of 12);
      }
      img {
        margin-bottom: em(20);
        border: 2px solid lighten($medium-gray, 15);
        padding: 3px;
        width: 90%;
      }
    }
    div.description {

      @include media($large-screen){
        @include span-columns(7 of 12);
      }

      padding-left: 16px;

      header {
        padding-top: 0px;
        padding-left: 0px;
      }
    }

    h1 {
      font-size: 1.2em;
      @include media($large-screen) {
        font-size: ($base-font-size * 1.5);
      }
      color: $base-font-color;
    }

    h2 {
      font-size: 1em;
      margin-top: em(16);
      line-height: $base-line-height;
      @include media($large-screen) {
        font-size: ($base-font-size * 1.2);
      }
    }

    ul {
      list-style-position: inside;
      list-style-type: square;
      margin-bottom: 15px;
    }
  }
}

div.lead {

  margin-top: em(20);
  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
    padding-bottom: 16px;
    margin-bottom: 32px;
  }


  h1 {
    @include media($large-screen) {
      text-align: center;
    }
  }
 

  p {
    font-size: $base-font-size;
    @include media($large-screen) {
      font-size: ($base-font-size * 1.5);
      line-height: 1.5em;
    }
  }
}


