<header class="navigation">
  <div class="menu-wrapper">
      <a class="logo" href="/">Guinsly <span class="green">Mondésir</span></a></h1>
    <p class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></p>
    <div class="nav">
      <ul id="navigation-menu">
        <li><a href="/about">About</a></li>
        <!--
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</li>
        more-->
        <li class="social"><i class="fa fa-twitter-square"></i><a href="https://twitter.com/guinslym" target="_blank" >Follow Me</a></li>
      </ul>
    </div>
  </div>
</header>
