---
title: "About"
description: "I'm taking proud of developing hand-crafted websites that work on smartphones, tablets, laptops and desktops"
---

<section class="about">
  <aside class="about">
    <img src="images/guinsly_crop.jpg" />
  </aside>
  <article>
      <p>I'm Guinsly Mondésir, a web developer for more then a decade now.</p>
      <p>What I've learned during all those years is that websites work best when they are easy to use.</p>

      <p>I'm taking proud of developing hand-crafted websites, that can be used on several devices like smartphones, tablets, laptop and desktops.</p>
      <p>Because the websites are handcrafted, they are fully customized to the needs of your business.</p>
      <p>If there is anything I learned, it is that building a successfull website is hard work! There are a lot of concerns to take into account, like Search Engine Optimization (SEO), performance, User Experience (UX), Responsive web design, ...</p>
      <p>But don't worry, that's why I'm here. Through an agile process, we'll get your website just the way you want it to be!</p>
  </article>
</section>
