---
title: "message sent"
hide_from_sitemap: true
---

<section class="contact">
  <div class="contactform">
    <p class="lead">
    Thanks, I'll contact you as soon as possible!
    </p>
  </div>
  <aside>
    <h2>Contact Information</h2>
    <p>Guinsly Mondésir<br />
    <br />
    </p>
    <p></p>
    <p><i class="fa fa-phone-square"></i><a href="tel:16132554355">+1 613 255 4355</a></p>
    <p><i class="fa fa-envelope"></i><a href="mailto:info@guinslym.info">info@guinslym.info</a></p>
    <p><i class="fa fa-linkedin-square"></i><a href="#">connect with me on LinkedIn</a></p>
  </aside>
</section>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
<script>
$("#contactForm").validate({
  debug: true,

  rules: {
    // simple rule, converted to {required:true}
    fullname: "required",
    // compound rule
    email: {
      required: true,
      email: true
    }
  },

  invalidHandler: function(event, validator) {
    // 'this' refers to the form
    var errors = validator.numberOfInvalids();
    if (errors) {
      var message = errors == 1
        ? 'You missed 1 field. It has been highlighted'
        : 'You missed ' + errors + ' fields. They have been highlighted';
      $("div.error span").html(message);
      $("div.error").show();
    } else {
      $("div.error").hide();
    }
  },

  submitHandler: function(form) {
    // do other things for a valid form
    form.submit();



  }
});
</script>
